* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #717e91;
    margin: 0;
}

.top-bar {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

#timer {
    float: right;
    font-size: 1.2em;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 60px;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}

.question {
    margin-bottom: 20px;
}

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 4px;
}

.btn:hover {
    opacity: 1;
}
